<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/head', {title: 'Show Pokemon'}) %> 

<body>
  <%- include('../layouts/header') %> 
  
  <h1>LOADED</h1>


  <% for (let name of names) { %>
  <form action="/pokemon" method="POST">
    <h2><%= name %></h2>
    <input name="name" value="<%= name %>" style="display: none;">
    <button type="submit">Add to Favorites</button>
  </form>
  <% } %>

  <%- include('../layouts/footer') %> 
</body>
</html>